#graf_faturamento{
    display:none; 
    width: 250em; 
    height: 400px; 
    margin: 25em auto;    
}
#graf_proposta{
    display: none;
    width: 250em; 
    height: 400px; 
    margin: 0 auto;    
}
#graf_reprova{
    display: none;
    width: 250em; 
    height: 400px; 
    margin: 0 auto;    
}
#graf_garantia{
    display: none;
    width: 250em; 
    height: 400px; 
    margin: 0 auto;    
}
